//! PALETTE
//*whites
$bg-white: #ffffff;
$text-white: #fefefe;
//*black and grey
$important-black: #010101;
$text-black: #484848;
$grey: #eaeaea;
//*blues
$bg-blue-dark: #020230;
$bg-blue-light: #0b1953;
$text-blue: #0490bc;
$btn-blue-dark: #1f3d82;
$btn-blue-light: #04a7d3;
$open-chat-blue: #527ceb;
//*reds
$text-red: #f9636b;
$btn-red-dark: #b6256f;
$btn-red-light: #f7626a;
