@use "./variables" as *;
//!FLEX
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: around;
}
.align-items-center {
  align-items: center;
}
//!TEXT
.text-align-center {
  text-align: center;
}
.fw-b {
  font-weight: bold;
}
.fw-n {
  font-weight: normal;
}
.grey {
  color: $grey;
}
.text-white {
  color: $text-white;
}
.text-black {
  color: $text-black;
}

.text-blue {
  color: $text-blue;
}
.text-red {
  color: $text-red;
}
//!POSITION
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
//!CONTAINER
.container {
  width: 1600px;
  margin: 0 auto;
}
//!FONT
.open-sans {
  font-family: "Open Sans";
}
.heebo {
  font-family: "Heebo";
}
//!BUTTONS
.btn {
  padding: 15px 30px;
  border: none;
  color: $text-white;
  border-radius: 30px;
  font-size: 16px;
  font-family: "Heebo";
}
.btn-blue {
  background: linear-gradient(90deg, $btn-blue-light 3%, $btn-blue-dark 100%);
}
.btn-red {
  background: linear-gradient(90deg, $btn-red-dark 3%, $btn-red-light 100%);
}
